body{
  background-color: aqua;
  text-align: center;
  padding: 50px;
}
.full{
  text-align: center;
  padding-top: 100px;
  background: rgb(248, 243, 243);
  padding: 50px;
  border-radius: 10px;
  display: inline-block;
}
button{
  color: blue;
  border-color: blue;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  transition: transform 0.6s ease, background 0.3s ease, color 0.3s ease;
  margin: 10px;
  font-weight: 400px;
}
button:hover{
  background-color: rgb(212, 180, 192);
  transform: translateY(-4px) scale(1.05);;
}
img{
  border: 6px blue solid;
  border-radius: 50%;
}
header{
  padding-bottom: 30px;
}
section{
  padding-bottom: 10px;
}
footer{
  padding-top: 10px;
}
p{
  line-height: 25px;
  text-align: center;
  padding: 0px 50px;
  color: rgb(101, 99, 99);
}
hr{
  border: 1px rgb(240, 236, 236) solid;
}